## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#question1">Question 1</a></li>
<li><a href="#question1">Question 2</a></li>

</ul>

<a id='intro'></a>

## Introduction
### This Notebook seekes to answer some questions using the datasets
These questions include;
- Which states should this business invest more marketing spend in?(Please explain what metrics you used to determine this, what assumptions you made, etc.)
- Which sellers, if any, should be delisted from this platform?
Please explain what metrics you used to determine this, what assumptions you made, etc.
If there is additional data you

In [3]:
%load_ext blackcellmagic

In [1]:
import pandas as pd

pd.set_option('display.max_columns', 200)

df_products = pd.read_csv('../data/Products.csv')
df_orders =  pd.read_csv('../data/Order.csv')

In [5]:
df_states = (
    df_orders.query(
        'order_status!= "canceled"',
    )
    .groupby("customer_state")["payment_value"]
    .sum().to_frame('Total_Sales')
    .reset_index()
    .sort_values("Total_Sales", ascending=False)
)

df_states.iloc[:10, :].reset_index(drop=True)

      customer_state  Total_Sales
0          São Paulo   3374237.33
1     Rio de Janeiro   1064121.68
2       Minas Gerais   1001226.70
3  Rio Grande do Sul    455542.10
4             Paraná    447772.87
5     Santa Catarina    335369.84
6              Bahia    328844.67
7   Distrito Federal    195648.05
8     Espírito Santo    180905.13
9              Goiás    178811.64

The table aboves displays the top 10 states the company should focus more on Market Campaings.

<a id='question2'></a>
## 2. - Which sellers, if any, should be delisted from this platform?
Two things can make a seller to be delisted;
- He hasn't made any sales  i.e. his id only apprears in the cancelled orders
- Revenue Generated is below a defined threshold

### Assuumptions
- Therer is no data from previous years i.e The company has only operated in the year 2018
- A transaction is successfully completed as long as the status is not saying 'canceled'

In [ ]:
df_orders.head()

In [5]:
# Extracting unique sellers ids whose orders was successful
sellers_1 = set(df_orders.query('order_status!= "canceled"')["seller_id"].unique())
print(len(sellers_1))

# Extracting sellers ids whose orders weren't successful
sellers_2 = set(df_orders.query('order_status == "canceled"')["seller_id"].unique())
print(len(sellers_2))

In [23]:
#Finding Sellers who haven't had a single sucessfull transaction
sellers_flush = sellers_2 - sellers_1

In [ ]:
#Changing data structures from set to list to use to query the dataframe
sellers_list = list(sellers_flush)

df_sellers = df_orders.query('seller_id in @sellers_list')

The Sellers to be delisted can be seen from the output of the code cell below

In [38]:
df_sellers_remove = df_sellers.seller_id.value_counts().reset_index()

#Renaming the columns
df_sellers_remove.columns = ['sellers_id', 'No_of_failed_transactions']
df_sellers_remove

                          sellers_id  No_of_failed_transactions
0   90d4125885ab6c86e8820a722be71974                          3
1   3febca52652e7209509ccfe61cbde40e                          2
2   f543ba3c973276f519d89d59bd46cead                          2
3   a4e634166243bbb3a13fa584463fa468                          2
4   e5bd51692380fd8cabb19b756b95e714                          1
5   c161d1327ebc3a156c09582ab2f59f6c                          1
6   50c361bcf670d16f6df4d52de3dff924                          1
7   afac9f6b0c4e5f0a7ee87e922cd0f873                          1
8   b45d7ebfb7378630f1bcd74b6ff86ff7                          1
9   f09e26011d833ddab11593c1a097a92a                          1
10  666658b8da8370f30e1f89893b1de5e6                          1
11  2078fe5066350e7d220c0ad3a3bbc6c1                          1
12  e46bc031f2c5bae4ccb40bb90712e9b4                          1
13  c79151301b9d90985d1fa52879213105                          1
14  92992bec39dde5766f590d3b1f46d465                          1
15  bf0d50a6410d487dc97d2baac0a8c0be                          1
16  001e6ad469a905060d959994f1b41e4f                          1
17  278b6e0b20c4f61fefaa0577943d7a35                          1
18  fc5a0d7a310a7a41abf86a458585ff2b                          1
19  37ceb404da208418c9032f0674e57804                          1
20  ffcfefa19b08742c5d315f2791395ee5                          1
21  4bc3d93e4a5f88a598d3d8ce4ae510b3                          1
22  66d5ae34537110d3affc56174dad2b2f                          1
23  cce6ab8d1682639fe45ab70234f1665f                          1
24  4ce6e5f6c52515177e18c1c9361d8677                          1
25  1992f8fb6b19fcccd97ca819811e7267                          1
26  58b98ccb79873e04eac4357cacc590d9                          1
27  880eda903e719a5f179f7e9fceb3a69d                          1
28  b7cc6c5e001441ae8cdd5c69a480cbe4                          1

The table above shows the sellers that should be __Delisted__ 😔 from the platform